<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57412847350-dtmrh13fd5n1fl69r8q4pia2v4m4m0tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57412847350-dtmrh13fd5n1fl69r8q4pia2v4m4m0tt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>57412847350-tlll1uljii94f73hr1vqed508k9t3adi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDk0zXUeiDIMH3NAiQEE8tVYfvCMwKxrLw</string>
	<key>GCM_SENDER_ID</key>
	<string>57412847350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storeApp</string>
	<key>PROJECT_ID</key>
	<string>bookstoreapp-67bd1</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstoreapp-67bd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57412847350:ios:0151245707f1f2690a0ed7</string>
</dict>
</plist>